html,
body,
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: ffc6ff;
}
h2 {
  background-color: 9bf6ff;
  margin-top: 4rem;
}
p {
  font-family: "Crimson Text", serif;
  margin-top: 30rem;
  text-align: center;
  background-color: 9bf6ff;
}
.box {
  font-size: 5rem;
  background-color: 9bf6ff;
  width: 30%;
  height: 50rem;
  text-align: center;
  max-width: 30%;
  border: 1rem solid darkslateblue;
  box-shadow: 2rem 2rem 5rem purple;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px 225px;
}
.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5rem;
}
#box-1 {
  background-image: url(img/ap.jpg);
}
#box-2 {
  background-image: url(img/Banana.webp);
}
#box-3 {
  background-image: url(img/Grape.jpg);
}
#box-4 {
  background-image: url(img/Peach.jpg);
}
#box-5 {
  background-image: url(img/Pear.jpg);
}
#box-6 {
  background-image: url(img/Mango.jpg);
}
#box-7 {
  background-image: url(img/Orange.jfif);
}
#box-8 {
  background-image: url(img/Payaya.jpg);
}
#box-9 {
  background-image: url(img/Cantaloupe.jpg);
}
.box:hover {
}
