html,
body,
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: ffc6ff;
  animation: ;
  font-family: "Crimson Text", serif;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
}
@keyframes fadeInAnimation {
  0% {
    background-color: white;
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
main {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}
h1 {
  font-size: 10rem;
  text-align: center;
}
h2 {
  background-color: 9bf6ff;
  margin-top: 4rem;
}
p {
  font-family: "Montserrat", sans-serif;
  margin-top: 30rem;
  text-align: center;
  background-color: 9bf6ff;
}
.box {
  font-size: 5rem;
  background-color: 9bf6ff;
  height: auto;
  text-align: center;
  width: 30%;
  border: 1rem solid darkslateblue;
  box-shadow: 2rem 2rem 5rem purple;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px 225px;
}
/* .rows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5rem;
} */
#box-1 {
  background-image: url(img/ap.jpg);
}
#box-2 {
  background-image: url(img/Banana.webp);
}
#box-3 {
  background-image: url(img/Grape.jpg);
}
#box-4 {
  background-image: url(img/Peach.jpg);
}
#box-5 {
  background-image: url(img/Pear.jpg);
}
#box-6 {
  background-image: url(img/Mango.jpg);
}
#box-7 {
  background-image: url(img/Orange.jfif);
}
#box-8 {
  background-image: url(img/Payaya.jpg);
}
#box-9 {
  background-image: url(img/Cantaloupe.jpg);
}
#box-1:hover {
  transform: scale(1.1) rotatex(360deg);
  transition: 1.25s;
}
#box-2:hover {
  transform: scale(1.1) rotatey(-180deg);
  transition: 1.25s;
}
#box-3:hover {
  transform: scale(1.1) rotatez(1800deg);
  transition: 1.25s;
}
#box-4:hover {
  transform: scale(1.1) skew(4deg);
  transition: 1.25s;
}
#box-5:hover {
  transform: scale(0.9) skewY(10deg);
  transition: 1.25s;
}
#box-6:hover {
  transform: scale(1.1) skewX(10deg) rotate(360deg);
  transition: 1.25s;
}
#box-7:hover {
  transform: scale(1.1) translatey(-100px);
  transition: 1.25s;
}
#box-8:hover {
  transform: scale(1.1) translatex(-50px) skew(5deg);
  transition: 1.25s;
}
#box-9:hover {
  transform: scale(0.8) rotate(720deg);
  transition: 1.25s;
}

@media (max-width: 1080px) {
  .box {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .box {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .box {
    width: 80%;
  }
}
